:root {
    --text-back: #6C63FF;
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Bold.ttf');
    font-weight: bold;
}

body {
    font-family: Montserrat;
}

.text-box {
    background-color: var(--text-back);
    height: 120px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    transform: translateX(10px);
}

.purple-box {
    background-color: var(--text-back);
    height: 120px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-top: 6rem;
}

.text {
    width: 80%;
    color: #FFF;
}

.dots {
    transform: translateX(-5%);
}

.dots-0, .dots-2 {
    opacity: .67;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-box img {
    height: 120px;
    transform: translateY(70%);
    z-index: 5;
}

.my-card {
    /* border-radius: 8px; */
    height: 150px;
    width: 150px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 25px #DEDEDE;
    border: 0.5px solid var(--text-back);
    border-radius: 10px;
}

.my-card span {
    color: var(--text-back);
    text-align: center;
}

.newsletter h5 {
    color: var(--text-back);
    font-weight: bold;
}

.newsletter p {
    color: var(--text-back);
}

.newsletter-email {
    width: 60% !important;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #DEDEDE;
    border: 0.5px solid #3A14BF !important;
    border-radius: 4px !important;
    padding: 1.5rem 2.5rem !important;
}

.newsletter-form button {
    background: var(--text-back) 0% 0% no-repeat padding-box !important;
    border-radius: 6px;
    color: #FFF;
    padding: 1rem 2rem !important;
    /* max-height: 49px; */
}

.link-back {
    height: 4px;
    width: 100%;
    background-color: var(--text-back);
    transform: translateY(-18px);
    z-index: 3;
}

.links {
    z-index: 5;
}

.links a {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 0.5px solid #6C63FF;
    border-radius: 4px;
    z-index: 1;
    width: 96px;
}

@media(max-width: 767px) {
    #hide {
        display: none !important;
    }
}